<form class="form-filter">
   <div>From</div> <input type="date" ng-model="filter.from" id="fromDate" class="form-control" placeholder="From Date" required="" autofocus="" autocomplete="off" required />
    <div>To</div> <input type="date" ng-model="filter.to" id="toDate" class="form-control" placeholder="To Date" required="" autocomplete="off" style="cursor: auto;" required/>
    <button class="btn btn-default" ng-click="refresh(filter)" id="filter-button" type="submit">Filter</button>
</form>

<table st-table="joggings" st-safe-src="joggingsSafe" class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th st-sort="id">Id</th>
        <th st-sort="description">Description</th>
        <th st-sort="date">Date</th>
        <th st-sort="time">Time (sec.)</th>
        <th st-sort="distance">Distance(km.)</th>
        <th>Average Speed (km/h)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="jogging in joggings">
        <td>{{jogging.id}}</td>
        <td>       <span editable-text="jogging.description"  onbeforesave="checkDescription($data)" e-name="description" e-form="rowform"  e-required>
    {{jogging.description}} </span></td>
        <td> <span editable-text="jogging.formattedDate"  onbeforesave="checkDate($data)"   e-name="formattedDate" e-form="rowform"  e-required>{{jogging.formattedDate}}</span></td>
        <td><span editable-text="jogging.time" onbeforesave="checkNumber($data)" e-name="time" e-form="rowform"  e-required>{{jogging.time}}</span></td>
        <td><span editable-text="jogging.distance" onbeforesave="checkNumber($data)" e-name="distance" e-form="rowform"  e-required>{{jogging.distance | number}}</span></td>
        <td>{{jogging.averageSpeed}}</td>
        <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveOrUpdateJogging($data,jogging)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="{{jogging.isShown}}" ng-required>
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    cancel
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                <button class="btn btn-danger" ng-click="deleteJogging(jogging)">del</button>
            </div>
        </td>
    </tr>
    </tbody>

</table>
<button class="btn btn-default" ng-click="addJogging()">Add jogging track</button>



