/* app css stylesheet */

body {
  padding-top: 70px;
  background-color: rgba(13, 13, 13, 0.13) !important;
}

.form-signin {
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}

.form-filter {
  max-width: 250px;
  padding: 30px;
  margin: 0 0;
}

#login-button{
  margin-top:15px;
}

#filter-button{
  margin-top:15px;
}


form[editable-form] > div {margin: 10px 0;}

