<div class="row">
<div class="col-lg-2"> </div>
    <div class="col-lg-8">

<ul class="list-group">
    <li class="list-group-item text-muted">User Profile</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> <span onbeforesave="updateEmail($data)" editable-email="user.email" ng-bind="user.email" e-required></span> </li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> <span onbeforesave="updateName($data)" editable-text="user.fullName" ng-bind="user.fullName" e-required></span></li>


</ul>
</div>
<div class="col-lg-2" > </div>
    </div>