
<table st-table="accounts" st-safe-src="accountsSafe" class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th st-sort="email">Email</th>
        <th st-sort="fullName">Real Name</th>
        <th>User</th>
        <th>User Manager</th>
        <th>Admin</th>
    </tr>
    </thead>
<tbody>
<tr ng-repeat="account in accounts">
    <td> {{account.email}}</td>
    <td> {{account.fullName}}</td>
    <td>  <input ng-disabled="account.isDisable" type="checkbox" ng-click="change(account,'ROLE_USER')" ng-model="account.isUser"> </td>
    <td>  <input ng-disabled="account.isDisable" type="checkbox" ng-click="change(account,'ROLE_USER_MANAGER')" ng-model="account.isManager"></td>
    <td>  <input ng-disabled="account.isDisable" type="checkbox" ng-click="change(account,'ROLE_ADMIN')" ng-model="account.isAdmin"> </td>
</tr>

</tbody>
</table>