<smart-table class="table table-striped" table-title="Report" columns="reportsCollection"
             rows="reports" config="globalConfig"></smart-table>

<form class="form-filter">
    <div>Choose Week</div> <input type="week" ng-model="week" id="weekDate" class="form-control" placeholder="YYYY-W##" autofocus="" autocomplete="off" required />
    <button class="btn btn-default" ng-click="filterByWeek(week)" id="filter-button" type="submit" >Filter</button>
</form>

<table st-table="joggings" st-safe-src="joggingsSafe" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th >Description</th>
        <th st-sort="time">Time (sec.)</th>
        <th st-sort="distance">Distance(km.)</th>
        <th st-sort="averageSpeed">Average Speed (km/h)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="jogging in joggings">
        <td>{{jogging.description}} </td>
        <td>{{jogging.time}}</td>
        <td>{{jogging.distance | number}}</td>
        <td>{{jogging.averageSpeed}}</td>
    </tr>
    </tbody>
</table>
