<form class="form-signin">
    <h2 class="form-signin-heading">Please register</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" ng-model="user.email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off" required />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="off" required/>
    <label for="fullName" class="sr-only">Full Name</label>
    <input type="text" ng-model="user.fullName" id="fullName" class="form-control" placeholder="Full name" required="" autocomplete="off" required/>
    <button class="btn btn-lg btn-primary btn-block" ng-click="update(user)" id="login-button" type="submit">Register</button>
</form>